mjml
  mj-body
    mj-container(background-color="#E1E8ED")
      mj-section(background-color="white")
        mj-column(width="100%")
          mj-image(href="https://devternity.com" src="https://devternity.com/images/dt_logo_rect.png" width="50px")
          mj-text(align="center")
            h2 Hey there! It's Eduards here! 👋 
          mj-image(src="https://res.cloudinary.com/eduardsi/image/upload/c_scale,r_1000,w_100/a_0/v1540476476/32555555_10216690048827089_770861662293983232_n_vy27fj.jpg" width="80px")
          mj-text(align="center" color="grey") It's Eduards from DevTernity!
          mj-text(align="center" color="grey") On behalf of DevTernity team, I'd like to thank you for attending DevTernity 2018.


      mj-section(background-color="#f3f3f3")
        mj-column(width="100%")
          mj-text(align="center" color="grey") 
            | Traditionally, the average talk rating is 
            | very high (
            <strong>89.3</strong> out of <strong>100</strong>), but there is still a lot to improve. In order to make the next event a blast, we need your feedback. Please, devote a minute and answer few simple questions:
          mj-button(href=`https://docs.google.com/forms/d/e/1FAIpQLSdvUqgdtE-9_C0tDOfWvV7X1b1YjDS4RlwhCWw9ngCKGOMqLQ/viewform` background-color="#3ba666" color="white") Share feedback          
        mj-column(width="80%")    
          mj-image(src=`http://res.cloudinary.com/eduardsi/image/upload/v1512397378/24232797_1653723524678523_6864514359717458114_n_zjoin0.jpg` border-radius="2px")
          mj-text(align="center" color="grey") 
            | Thanks and see you at DevTernity 2019, Anniversary Edition!
          mj-text(align="center" color="grey") 
            | (and stay in touch on 
            b: a(href="https://www.facebook.com/devternity/") Facebook
            | , 
            b: a(href="https://twitter.com/DevTernity") Twitter
            |  or 
            b: a(href="https://www.linkedin.com/groups/8371335/") LinkedIn
            | )

      mj-section(background-color="#f3f3f3" padding-top="20px")
        mj-column(width="100%")
          mj-divider(border-width="1px" border-style="dashed" border-color="lightgrey")
          mj-text(align="center" color="grey" font-size="11")
            | Received this email by mistake? 
            a(href="[Unsubscribe]") we got you covered          