mjml
  mj-body
    mj-container(background-color="#E1E8ED")
      mj-section(padding="20px" background-color="white")
        mj-image(href="https://devternity.com" src="https://devternity.com/images/dt_logo_rect.png" width="50px")
      mj-section(padding="20px" background-color="white")
        mj-column(width="100%")
          mj-text(align="center")
            h2 Hey there! It's Eduards from DevTernity! 👋
          mj-text(align="center" color="grey") 
            | The conference program has been finalised a while ago and the big day is approaching. If you haven't secured your seat yeat, 
            b you better hurry
            |  – tickets are disappearing like there's a 
            b: a(href="http://harrypotter.wikia.com/wiki/Vanishing_Spell") Vanishing Spell 
            |  on them.
          mj-text(align="center" color="grey") 
            | Here are 3 reasons why I regularly attend 
            b premium 
            | conferences –
      mj-section(background-color="white" padding="20px")
        mj-text(align="center" color="#a5b0b8")
          h2 Knowledge
        mj-text(align="center" color="grey") 
          | We – IT professionals, have to take a break from routine work to sharpen our skills. A dull axe won't cut a tree nearly as effectively as a sharp one. I read piles of books, watch videos, write code, speak, consult, but I always return from a good conference with new ideas and approaches that make me more efficient at work. Even though I can't apply all ideas, it doesn't mean the ideas are wasted. Work is temporary, 
          b career is lifelong
          | .

        mj-text(align="center" color="#a5b0b8")
          h2 Inspiration
        mj-text(align="center" color="grey") 
          | A great conference is inspiring. Inspired people are way more productive. For creative workers, like you and me, running at 100% utilisation is counterproductive. 
          b DevTernity reloads your batteries 
          |  and gives inspiration for a battle. As famous saying goes – slow down to hurry up.     
 
        mj-text(align="center" color="#a5b0b8")
          h2 Networking
        mj-text(align="center" color="grey") 
          | People make a vast impact on your career. People are your current and future employers, colleagues and customers. People are those who challenge your thinking and turn your life around. DevTernity is a great opportunity to make new connections, hangout with speakers, and be part of fantastic, like-minded community. Networking is about planting relations. 
          b Start today
          | .
        mj-section(width="60%")
          mj-image(src="/images/eduards_hi.png")                            

      mj-section(background-color="#ffffff" padding-top="20px")
        mj-column(width="100%")
          mj-text(align="center" color="grey") 
            | Most forward-looking IT professionals from Latvia will attend the conference. The conference registration will close soon, and I encourage you to 
            b join the movement
            |. 
          mj-button(href=`${data.selfLink}` background-color="#3ba666" color="white") Take me with you
          mj-divider(border-width="1px" border-style="dashed" border-color="lightgrey")
          mj-text(align="center" color="grey" font-size="11")
            | Not interested in the top conference in #{data.city}? 
            a(href="[Unsubscribe]") we got you covered