mjml
  mj-body
    mj-container(background-color="#E1E8ED")
      mj-section(padding="20px" background-color="white")
        mj-image(href="https://devternity.com" src="https://devternity.com/images/dt_logo_rect.png" width="50px")
      mj-section(padding="20px" background-color="white")
        mj-column(width="100%")
          mj-text(align="center")
            h2 Hey! How's your summer going? 👋
          mj-text(align="center" color="grey") 
            | While preparing to 
            b: a(href="https://devternity.com") DevTernity
            | , we came up with something awesome.
          mj-text(align="center" color="grey") Starting with today, it's possible to make passive income with DevTernity.
          mj-text(align="center" color="grey") The idea is very simple – you share DevTernity in your circles. We pay you cash. 
          mj-image(src="http://res.cloudinary.com/eduardsi/image/upload/v1527942436/Screen_Shot_2018-06-02_at_14.23.44_zrfwes.png")
          mj-text(align="center" color="grey") There is no earning limit. The more people you bring, the more you earn. Helping discover great events in a noisy world must be rewarding, simple and fair.
          You can also convince your colleagues to go to DevTernity and share profits.
          mj-text(align="center" color="grey") We've been using Fellow network internally. Finally you can, too.
          mj-button(href=`https://devternity.com/fellows.html` background-color="#3ba666" color="white") Become a DevTernity Fellow
      mj-section(background-color="#ffffff" padding-top="20px")
        mj-column(width="100%")
          mj-divider(border-width="1px" border-style="dashed" border-color="lightgrey")
          mj-text(align="center" color="grey" font-size="11")
            | Not interested in the most-waited conference in town? 
            a(href="[Unsubscribe]") we got you covered