mjml
  mj-body
    mj-container(background-color="#E1E8ED")
      mj-section(padding="20px" background-color="white")
        mj-image(href="https://devternity.com" src="https://devternity.com/images/dt_logo_rect.png" width="50px")
      mj-section(padding="20px" background-color="white")
        mj-column(width="100%")
          mj-text(align="center")
            h2 Hi ${name}
          mj-text(align="center" color="grey") Your DevTernity conference ticket has arrived!

        
          mj-button(href="${ticketLink}" background-color="#3ba666" color="white") Download my ticket
          mj-text(align="center" color="grey") In the meantime, you can do the following things:
      mj-section(background-color="#ffffff")
        mj-column(width="200")
          mj-image(href=`https://www.facebook.com/events/328703010901930/` src="https://raw.githubusercontent.com/devternity/media/gh-pages/images/sect-fb.png" width="100")
        mj-column(width="350")
          mj-text(align="center" color="grey") 
            b: a(href="https://www.facebook.com/events/328703010901930/") Tell
            |  your facebook friends you're going to the event, so everyone is jealous!

      mj-section(background-color="#ffffff")
        mj-column(width="200")
          mj-image(href=`https://www.facebook.com/events/328703010901930/` src="https://raw.githubusercontent.com/devternity/media/gh-pages/images/sect-social.png" width="100")
        mj-column(width="350")
          mj-text(align="center" color="grey") 
            | Follow us on social networks, in order to stay in the loop:
          mj-image(href="https://www.facebook.com/devternity/" src="https://raw.githubusercontent.com/devternity/media/gh-pages/images/follow-fb.png" width="16")   
          mj-image(href="https://twitter.com/devternity" width="16" src="https://raw.githubusercontent.com/devternity/media/gh-pages/images/sect-tw.png")
          mj-image(href="https://www.linkedin.com/groups/8371335" width="16" src="https://raw.githubusercontent.com/devternity/media/gh-pages/images/sect-ln.png")


      mj-section(background-color="#ffffff")
        mj-column(width="200")
          mj-image(href=`https://www.facebook.com/events/328703010901930/` width="100" src="https://raw.githubusercontent.com/devternity/media/gh-pages/images/sect-cal.png")
        mj-column(width="350")
          mj-text(align="center" color="grey") 
            | Add event to your calendar:
            <br />
            b: a(href="http://addtocalendar.com/atc/ical?f=m&e[0][date_start]=2017-12-01%208%3A00%3A00&e[0][date_end]=2017-12-01%2020%3A00&e[0][timezone]=Europe%2FRiga&e[0][title]=DevTernity%20Main%20Day&e[0][description]=The%20only%20software%20development%20conference%20you%20can't%20miss.%0A&e[0][location]=National%20Library%20of%20Latvia&e[0][organizer]=DevTernity&e[0][organizer_email]=hello%40devternity.com&e[0][privacy]=public" target="_blank") iCalendar
            |  • 
            b: a(href="http://addtocalendar.com/atc/google?f=m&e[0][date_start]=2017-12-01%208%3A00%3A00&e[0][date_end]=2017-12-01%2020%3A00&e[0][timezone]=Europe%2FRiga&e[0][title]=DevTernity%20Main%20Day&e[0][description]=The%20only%20software%20development%20conference%20you%20can't%20miss.%0A&e[0][location]=National%20Library%20of%20Latvia&e[0][organizer]=DevTernity&e[0][organizer_email]=hello%40devternity.com&e[0][privacy]=public" target="_blank") Google Calendar
            |  • 
            b: a(href="http://addtocalendar.com/atc/outlook?f=m&e[0][date_start]=2017-12-01%208%3A00%3A00&e[0][date_end]=2017-12-01%2020%3A00&e[0][timezone]=Europe%2FRiga&e[0][title]=DevTernity%20Main%20Day&e[0][description]=The%20only%20software%20development%20conference%20you%20can't%20miss.%0A&e[0][location]=National%20Library%20of%20Latvia&e[0][organizer]=DevTernity&e[0][organizer_email]=hello%40devternity.com&e[0][privacy]=public" target="_blank") Outlook
            |  • 
            b: a(href="http://addtocalendar.com/atc/outlookonline?f=m&e[0][date_start]=2017-12-01%208%3A00%3A00&e[0][date_end]=2017-12-01%2020%3A00&e[0][timezone]=Europe%2FRiga&e[0][title]=DevTernity%20Main%20Day&e[0][description]=The%20only%20software%20development%20conference%20you%20can't%20miss.%0A&e[0][location]=National%20Library%20of%20Latvia&e[0][organizer]=DevTernity&e[0][organizer_email]=hello%40devternity.com&e[0][privacy]=public" target="_blank") Outlook Online
            |  • 
            b: a(href="http://addtocalendar.com/atc/yahoo?f=m&e[0][date_start]=2017-12-01%208%3A00%3A00&e[0][date_end]=2017-12-01%2020%3A00&e[0][timezone]=Europe%2FRiga&e[0][title]=DevTernity%20Main%20Day&e[0][description]=The%20only%20software%20development%20conference%20you%20can't%20miss.%0A&e[0][location]=National%20Library%20of%20Latvia&e[0][organizer]=DevTernity&e[0][organizer_email]=hello%40devternity.com&e[0][privacy]=public" target="_blank") Yahoo! Calendar

        mj-column(width="100%")
          mj-image(src="https://raw.githubusercontent.com/devternity/media/gh-pages/images/seeyousoon.png" width="450")