mjml
  mj-body
    mj-container(background-color="#E1E8ED")
      mj-section(background-color="white")
        mj-column(width="100%")
          mj-image(href="https://devternity.com" src="https://devternity.com/images/dt_logo_rect.png" width="50px")
          mj-text(align="center")
            h2 Hi there! 👋
          mj-image(src="https://d26dzxoao6i3hh.cloudfront.net/items/132s3W1v020g392y3P1G/eduardsi.png?v=0728d5ba" width="50px")
          mj-text(align="center" color="grey") It's Eduards from DevTernity!
          mj-text(align="center" color="grey") As the conference is approaching, I'd like to share some important information with you:


      mj-section(background-color="#f3f3f3")
        mj-column(width="100%")
          mj-text(align="center" color="#a5b0b8")
            h2 Select sessions you wish to attend in advance
        mj-column(width="100%")
          mj-text(align="center" color="grey") In order to get most out of the conference, I suggest selecting sessions you wish to attend in advance. Go though the conference program, learn more about speakers and their talks. To simplify your life, we have added a relevant tag list under every talk.
          mj-text(align="center" color="grey") 
            | All sessions will be recorded and published to our 
            b: a(href="https://www.youtube.com/channel/UCvzMZyJZZ3XYQwbvOACVYrQ") YouTube channel
            |, so don't worry if you miss some of them.          

      mj-section(background-color="#f3f3f3")
        mj-column(width="100%")
          mj-text(align="center" color="#a5b0b8")
            h2 Registration &amp; opening
        mj-column(width="100%")
          mj-text(align="center" color="grey") 
            | The registration starts at 8 am. The conference opening will be crowdy, therefore I suggest coming as early as possible and secure your seat in the Main Hall. 
          mj-text(align="center" color="grey") 
            | By now, you should have received a conference ticket. 
            b Please bring your ticket to the registration desk.

      mj-section(background-color="#f3f3f3")
        mj-column(width="100%")
          mj-text(align="center" color="#a5b0b8")
            h2 Parking
        mj-column(width="100%")
          mj-text(align="center" color="grey") 
            | The National Library of Latvia does not offer free parking lots. If you decide to go by car, you'll have to find a parking yourself. To overcome parking challenge, avoid traffic jams and enjoy craft beer, I suggest going to the conference by 
            b: a(href="https://invite.taxify.eu/E6MYX") taxi
            |  or use public transport. 
          mj-text(align="center" color="grey") 
            | Our sponsor Taxify has provided 
            b 5€ coupon 
            | for the conference attendees. The coupon is valid from 30 Nov to 2 Dec – 
            b DEVTERNITY2017
          mj-text(align="center" color="grey") 
            | If you are new to Taxify, you'll get additional 
            b 7€ 
            | by following 
            b: a(href="https://invite.taxify.eu/E6MYX") this link
            |.

      mj-section(background-color="#f3f3f3")
        mj-column(width="100%")
          mj-text(align="center" color="#a5b0b8")
            h2 Beer afterparty
        mj-column(width="100%")
          mj-text(align="center" color="grey") 
            | The afterparty will take place just after the conference in 
            b: a(href="https://www.facebook.com/rigastargorod/") Stargorod brewpub
            |  – a lot of beer and snacks is included. This is a fantastic opportunity to hang out with speakers, organisers and peers. Epic(!) transfer to the brewpub will be organised directly from the LNB main entrance.             

      mj-section(background-color="#f3f3f3")
        mj-column(width="100%")
          mj-text(align="center" color="#a5b0b8")
            h2 In the meantime
        mj-column(width="100%")
          mj-text(color="grey") 
            ol
              li 
                | If you are on Facebook, don't forget to 
                b: a(href="https://www.facebook.com/events/328703010901930/") tell everybody
                |  you're going to the event!
              li 
                b: a(href="https://twitter.com/DevTernity") Follow us
                |  on Twitter
              li 
                b: a(href="https://www.linkedin.com/groups/8371335/") Join
                |  our LinkedIn group

        mj-column(width="200")
          mj-image(src=`https://d26dzxoao6i3hh.cloudfront.net/items/0x3U1B1i2K3Y3a3B341Q/Image%202017-11-07%20at%201.56.11%20PM.png?v=0c9be71a` border-radius="2px")          
        mj-column(width="350")
          mj-text(align="center" color="grey") 
            | Finally, I'd like to invite you to join conference Slack channel – this is the best opportunity to stay in touch with other attendees, speakers and conference organizers. We are there for you 24/7.        
        mj-column(width="100%")
          mj-button(href=`https://slack-im-forwarder.glitch.me/invite?email=${recipient_email.toString()}&channels=${slack_channels_attendees.toString()}` background-color="#3ba666" color="white") Join Slack Channel

      mj-section(background-color="#f3f3f3" padding-top="20px")
        mj-column(width="100%")
          mj-divider(border-width="1px" border-style="dashed" border-color="lightgrey")
          mj-text(align="center" color="grey" font-size="11")
            | Received this email by mistake? 
            a(href="[Unsubscribe]") we got you covered          